.mb-5.form-control[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
